<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<div class="container">
    <a class="navbar-brand" href="/">{ config.name }</a>

    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#main-navigation"
            aria-controls="main-navigation"
            aria-expanded="false"
            aria-label="Toggle Navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="main-navigation">
    <ul class="navbar-nav ml-auto">
        { if config.links }
        { for x in config.links }
        <li class="nav-item">
            <a class="nav-link" href="{ x.url }" target="_blank">{ x.name }</a>
        </li>
        { end }
        { end }
        <li class="nav-item">
            <a class="nav-link" href="/archive.html">Archive</a>
        </li>
    </ul>
    </div>
</div>
</nav>
