<meta name="viewport" content="width=device-width">
<meta charset="utf-8">
<!-- Bootstrap -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js" defer></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js" defer></script>
<!-- Custom Styles -->
<link rel="stylesheet" href="/assets/main.css">
<!-- Hypothesis -->
<script type="application/json" class="js-hypothesis-config">
    {{ "showHighlights": false }}
</script>
<script src="https://hypothes.is/embed.js" async></script>
<!-- Prism -->
{ if config.prism }
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.8.4/themes/prism-solarizedlight.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.8.4/prism.min.js" defer></script>
{ for x in config.prism }
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.8.4/components/prism-{x}.min.js" defer></script>
{ end }
{ end }
